.card-white {
	background-color: white;
	padding:40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	border-radius:4px; 
	margin: 20px 0px;
	text-align: center;
}

@media (max-width: 700px) {
.card-white {
	width: 600px;
	}
}

@media (max-width: 500px) {
.card-white {
	width: 400px;
	}
}



